.feedback-background {
    margin-top: 95px;
    background: url(../images/blue-line.png);
    height: 346px;
}

.feedback {
    &__container {
        position: relative;
    }
    &__form {
        position: absolute;
        top: -230px;
        left: calc((100% - 719px)/2);
        border: 1px solid #909DE2;
        border-radius: 10px;
        background-color: #FFFFFF;
        height: 524px;
        width: 719px; //?
        &__container {
            width: min(100% - 99px, 619px);
            margin: 50px auto;
            display: grid;
            gap: 20px;
            @extend %inp-placeholder;
        }
        &__legend {
            font-family: 'Jost-Bold', sans-serif;
            font-size: 48px;
            line-height: 58px;
            text-transform: capitalize;
            text-align: center;
            color: $heading-color;
        }
        &__input-wrapper {
            display: grid;
            grid-template-areas: "name-input email-input" "number-input subject-input";
        }
        #name {
            @extend %inp-set;
            grid-area: name-input;
            margin-bottom: 20px;
        }
        #number {
            @extend %inp-set;
            grid-area: number-input;
        }
        #email {
            @extend %inp-set;
            grid-area: email-input;
            margin-bottom: 20px;
        }
        #subject {
            @extend %inp-set;
            grid-area: subject-input;
        }
        #message {
            background: #FFFFFF;
            border: 1px solid #909DE2;
            border-radius: 10px;
            resize: none;
        }
        &__button {
            @extend %explore-more-button;
            height: 49px;
        }
    }
}