@font-face {
    font-family: 'Jost-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Jost-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Jost-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Jost-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
}