.testimonial {
    @extend %section-margin-top;
    text-align: center;
    &__container {
        &__fake-button {
            @extend %fake-button;
            width: 117px;
            margin-left: calc((100% - 117px)/2);
        }
        &__title {
            font-family: 'Jost-Bold', sans-serif;
            font-size: 3rem;
            line-height: 3.625rem;
            text-transform: capitalize;
            color: $heading-color;
            margin: 30px 0 30px;
            @media (max-width: 992px) {
                font-size: calc(3rem/1.25);
                line-height: calc(3.625rem/1.25);
            }
        }
        &__items-wrapper {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-column-gap: 16px;
            &__item {
                position: relative;
                margin-bottom: 69px;
                &__icon-wrapper {
                    position: absolute;
                    top: -20px;
                    left: calc((100% - 46px)/2);
                    border: 1px solid #909DE2;
                    border-radius: 50%;
                    padding: 11px;
                    width: 46px;
                    height: 43px;
                    margin: auto;
                    z-index: 1;
                    background-color: $white-color;
                }
                &__comment {
                    font-family: 'Jost-Regular', sans-serif;
                    font-size: 0.75rem;
                    line-height: 1.25rem;
                    border: 1px solid #909DE2;
                    padding: 32px 15px;
                    color: $small-text-color;
                }
                span {
                    position: absolute;
                    top: calc((100% - 173px));
                    left: calc((100% - 59px)/2);
                    margin-bottom: 13px;
                }
                &__person {
                    margin-top: 30px;
                    &__name {
                        font-family: 'Jost-Bold', sans-serif;
                        font-size: 1.25rem;
                        line-height: 1.8125rem;
                        text-transform: capitalize;
                        color: $heading-color;
                    }
                    &__profession {
                        font-family: 'Jost-Regular', sans-serif;
                        font-size: 1.1875rem;
                        line-height: 1.5rem;
                        text-transform: capitalize;
                        color: $small-text-color;
                    }
                }
            }
        }
    }
}