* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: min(100% - 60px, 1240px);
    margin: auto;
}

$main-color: #355EFC;
$heading-color: #011A41;
$small-text-color: #555555;